<p>ログインページ</p>
<div class="container">
  <div class="row justify-content-center mt-3">
    <!--"退会済のアカウントです。新規登録をお願いします。"from sessions controller-->
    <p><%= flash[:danger] %></p>
  </div>
  
  <div class="row justify-content-center">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <!--emailとPWでログインできるという要件のため名前でのログインは実装しない-->
        <%#= f.label :name, "User name" %>
        <%#= f.text_field :name, autofocus: true %>
      <div class="row mt-2">
        <div class="col-sm-5">
          <%= f.label :email %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :email, size: 30, autofocus: true %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-5">
          <%= f.label :password %>
        </div>
        <div class="col-sm-5">
          <%= f.password_field :password, size: 30, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="col mt-3">
        <%= f.submit "Log in", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
 
  <div class="row mt-3">
    <div class="col mt-3">
      <%= link_to users_guest_sign_in_path, class: "btn btn-warning mb-3 sign_in", method: :post do %>
        <i class="fa-solid fa-check"></i>
        ゲストログイン（閲覧用）
      <% end %>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center">
    まだアカウントをお持ちでない方は
    <%= link_to 'こちら', new_user_registration_path %>
  </div>
  <br/><br/><br/>
</div>