<h4>
  <i class="fa-solid fa-person-digging"></i>
  管理者用ページ
  <i class="fa-solid fa-wrench"></i>
</h4>
<div class="container">
  <div class="row justify-content-center">
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <div class="row mt-3">
        <div class="col-sm-5"><%= f.label :email %></div>
        <div class="col-sm-5"><%= f.text_field :email, size: 30, autofocus: true %></div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5"><%= f.label :password %></div>
        <div class="col-sm-5"><%= f.password_field :password, size: 30, autocomplete: "new-password" %></div>
      </div>
      <div class="col mt-2 text-center">
        <%= f.submit "Log in", class: "btn btn-outline-secondary" %>
      </div>
      <div class="col-auto mt-3">
        <button type="button" class="btn btn-warning" data-toggle='modal' data-target="#adminInfomation">
          <i class="fa-solid fa-user-lock"></i>
          ※ guest admin
        </button>
      </div>
    <% end %>
  </div>
  <h3 class="mt-5">※topページは<%= link_to "こちら", root_path %>です。</h3>
</div>

<div class="modal fade" id="adminInfomation" tabindex="-1" role="dialog" aria-labelledby="adminInfomationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-5">
          <h4 class="modal-title" id="adminInfomation">admin画面を見ていただける方へ</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          admin画面の閲覧用にゲストアカウントをご利用ください。<br/>
          なお以下の動作はできません。<br/>
          ・投稿の削除、ステータス（公開/非公開）の変更<br/>
          ・ユーザーのステータス（有効/退会済み）の変更<br/>
          ・コメントの削除<br/>

        </div>
        <div class="modal-footer pr-5">
          <%= link_to admins_guest_sign_in_path, class: "btn btn-success mb-3 sign_in", method: :post do %>
            ログイン（閲覧用）
          <% end %>
        </div>
      </div>
    </div>
  </div>