<p>新規登録ページ</p>
<div class="container">
  <div class="row justify-content-center">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <table class="user_form">
        <tr>
          <th><%= f.label :name, "User name" %></th>
          <td><%= f.text_field :name, autofocus: true, size: 30, :placeholder => " 1 to 20 characters" %></td>
        </tr>
        <tr>
          <th><%= f.label :email, "Email" %></th>
          <td><%= f.text_field :email, size: 30 %></td>
        </tr>
        <tr>
          <th><%= f.label :password, "Password" %></th>
          <td><%= f.password_field :password, autocomplete: "new-password", size: 30, :placeholder => " minimum 6 characters" %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "Password Confirmation"  %></th>
          <td><%= f.password_field :password_confirmation, size: 30, autocomplete: "new-password" %></td>
        </tr>
      </table>
      <div class="col mt-3">
        <%= f.submit "Sign in", class: "btn btn-success" %>
      </div>
    <% end %>
    <% if @user.errors.any? %>
      <div class="col mt-3 mx-5">
        <%= render 'layouts/error_messages', resource: @user %>
      </div>
    <% end %>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-center">
  既にアカウントをお持ちの方は
  <%= link_to 'こちら', new_user_session_path %>
</div>