ユーザーの新規登録ページ

<%= form_with model: @user, url: new_user_registration_path, local: true do |f| %>
  <table class="user_form">
      <tr>
        <th><%= f.label :name, "User name", class: "user_name" %></th>
        <td><%= f.text_field :name, autofocus: true, :placeholder => "put name in 20 words" %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "email", class: "user_email" %></th>
        <td><%= f.textfield :email, :placeholder => "put email abailable" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, class: "user_password" %></th>
        <td><%= f.password_field :password, autocomplete</td>
      </tr>
  </table>
 <% end %>