ユーザー情報編集ページ

<div class="container">
  <div class="row justify-content-center">
    <%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |f| %>
    <%= render 'layouts/error_messages', resource: @user %>
      <table class="user_form">
        <tr>
          <th><%= f.label :name, "User name" %></th>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.text_field :email%></td>
        </tr>
        <tr>
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password, autocomplete: "new-password", :placeholder => "既存or新しいパスワード"%></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "Password Confirmation"  %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "(確認用)"%></td>
        </tr>
      </table>
      <div class="col mt-3">
        <%= f.submit "更新する", class: "btn btn-success" %>
      </div>
    <% end %>
    <p class="alert"><%= alert %></p>
  </div>
  
  <div class="row mt-4 justify-content-center">
    <div class="col-3">
      or
    <button type="button" class="btn btn-sm btn-danger" data-toggle='modal' data-target="#unsubscribeConfirm">
      Delete account?
    </button>
    </div>
  </div>
  
  <div class="modal fade" id="unsubscribeConfirm" tabindex="-1" role="dialog" aria-labelledby="unsubscribeConfirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unsubscribeConfirm">退会確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          退会後は同じユーザー名、メールアドレスでログインすることができなくなります！<br/>
          本当に、退会しますか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">やめる</button>
          <%= link_to withdraw_user_path(current_user), method: :patch do %>
            <button type="button" class="btn btn-danger">退会する</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>