ユーザーページ
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    
      <div class="col-md-4 mb-4">
        <%= link_to post_path(post) do %>
          <div class="flame ml-lg-5 text-center mb-4 mb-md-0">
            <div class="image m-3">
              <%= image_tag post.image, size: "200x200" %>
            </div>
            <div class="row d-flex justify-content-end mr-1">
              <div classs="badge bg-primary text-wrap", style="width: 12em;">
                <%= link_to user_path(post.user) do %>
                  <%= post.user.name %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row ml-lg-5 text-center m-3 mb-md-0 pl-4">
            <%= post.body %>
          </div>
        <% end %>
      </div>
      
    <% end %>
  </div>
</div>
・新着順/古い順
・自分の投稿/★すべて
・８色選択
ページネーション
<% if @user == current_user %>
  <div class="row mt-3">
    <%= link_to 'Edit', edit_user_path(current_user) %>
    &nbsp;profile?
  </div>
  
  <div class="row mt-3">
    Are you looking for someone? click&nbsp;
    <%= link_to 'Here', user_relationships_path(current_user) %>
  </div>
  
  <div class="row mt-3">
    <button type="button" class="btn btn-sm btn-danger" data-toggle='modal' data-target="#unsubscribeConfirm">
      Delete account?
    </button>
  </div>
  
  <div class="modal fade" id="unsubscribeConfirm" tabindex="-1" role="dialog" aria-labelledby="unsubscribeConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unsubscribeConfirm">退会確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        退会後は同じユーザー名、メールアドレスでログインすることができなくなります！<br/>
        本当に、退会しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">やめる</button>
        <%= link_to withdraw_user_path(current_user), method: :patch do %>
          <button type="button" class="btn btn-danger">退会する</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>