<div class="container">
  <br/><br/><br/>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-5">
      <div class="color-palette">
        <% if admin_signed_in? %>
          <%= link_to posts_path(color: '7') do %>
            <div class="color-row">
              <div class="square-big red"></div>
              <div class="square-big orange"></div>
              <div class="square-big yellow"></div>
              <div class="square-big green"></div>
            </div>
            <div class="color-row">
              <div class="square-big blue"></div>
              <div class="square-big purple"></div>
              <div class="square-big monochrome"></div>
              <div class="square-big other"></div>
            </div>
          <% end %>
        <% else %>
          <div class="color-row">
            <%= link_to posts_path(color: '0') do %>
              <div class="square-big red"></div>
            <% end %>
            <%= link_to posts_path(color: '1') do %>
              <div class="square-big orange"></div>
            <% end %>
            <%= link_to posts_path(color: '2') do %>
              <div class="square-big yellow"></div>
            <% end %>
            <%= link_to posts_path(color: '3') do %>
              <div class="square-big green"></div>
            <% end %>
          </div>
          <div class="color-row">
            <%= link_to posts_path(color: '4') do %>
              <div class="square-big blue"></div>
            <% end %>
            <%= link_to posts_path(color: '5') do %>
              <div class="square-big purple"></div>
            <% end %>
            <%= link_to posts_path(color: '6') do %>
              <div class="square-big monochrome"></div>
            <% end %>
            <%= link_to posts_path(color: '7') do %>
              <div class="square-big other"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <p>Choose color you like</p>
  </div>
  <div class="row d-flex justify-content-center mt-4 mb-5">
    <div class="top-logo">
      <%= image_tag("logoP.png", src: "/assets/images/logoP.png", width: 180, hight: 180 ) %>
    </div>
  </div>
</div>