<div class="container">
  <div class="row mt-3 justify-content-start ml-3">
    <div class="col-md-7">
      <% if params[:word].blank? %>
        <div class="col-12 mt-3">
          Post / User を選択し、検索バーに入力してください。
        </div>
      <% else %>
        <div class="row mt-3">
          <div class="col">
            <% if @category == "Post" %>
              <% if @posts.any? %>
                <div>Posts search for "<%= @word %>"</div>
                <table class="table mt-3">
                  <thead class="table-warning">
                    <tr>
                      <th>image</th>
                      <th>body</th>
                      <th>creator</th>
                      <th>comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @posts.each do |post| %>
                      <tr>
                        <td>
                          <%= link_to post_path(post) do %>
                            <%= image_tag post.get_image, width: 50, height: 50 %>
                          <% end %>
                          </td>
                        <td>
                          <%= link_to post_path(post) do %>
                            <%= post.body %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to user_path(post.user_id) do %>
                            <%= post.user.name %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to post_path(post) do %>
                            コメント数：<%= post.comments.count %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <% if params[:word].present? %>
                  該当する投稿はありません。
                <% end %>
              <% end %>
            <% else %>
              <% if @users.any? %>
                <div>Users search for "<%= @word %>"</div>
                <table class="table mt-3">
                  <thead class="table-success">
                    <tr>
                      <th>name</th>
                      <th>投稿数</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td>
                          <%= link_to user_path(user) do %>
                            <%= user.name %>
                          <% end %>
                          </td>
                        <td><%= user.posts.count %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <% if params[:word].present? %>
                  該当するユーザーはいません。
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>