投稿一覧ページ
<div class="container">
  <div class="row">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <% if post.is_open %>
          <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <%= link_to post_path(post) do %>
              <div class="flame mb-4 mb-md-0">
                <div class="image m-3">
                  <%= image_tag post.image, size: "200x200" %>
                </div>
                <div class="row d-flex justify-content-end mr-1">
                  <div classs="badge bg-primary text-wrap", style="width: 12em;">
                    <%= link_to user_path(post.user) do %>
                      <%= post.user.name %>
                    <% end %>
                  </div>
                  <div class="mr-2">
                    コメント数：<%= post.comments.count %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col m-3">
                  <%= post.body %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="col my-5">
        投稿はまだありません。
      </div>
    <% end %>
  </div>
  <div class="row">
    Need to search ? Click&nbsp;
    <%= link_to "here", search_path %>
  </div>
</div>