投稿一覧ページ
<div class="container">
  <div class="row">
    <% if @posts.any? %>
      <div class="row my-3 justify-content-start">
        <div class="col ml-5">
          <%= link_to "新しい順", posts_path(sort_by: 'newest') %>
          &nbsp;|&nbsp;<%= link_to "古い順", posts_path(sort_by: 'oldest') %>
          &nbsp;|&nbsp;<%= link_to "いいね順", posts_path(sort_by: 'favorites') %>
          &nbsp;|&nbsp;<%= link_to "コメント数順", posts_path(sort_by: 'comments') %>
        </div>
      </div>
      
      <div class="row">
        <% @posts.each do |post| %>
          <% if post.is_open %>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
              <%= link_to post_path(post) do %>
                <div class="flame mb-4 mb-md-0">
                  <div class="image m-3">
                    <%= image_tag post.image.variant(resize_to_fill: [200, 200]).processed, size: "200x200" %>
                  </div>
                  <div class="row d-flex justify-content-end mr-1">
                    <div classs="badge bg-primary text-wrap", style="width: 12em;">
                      <%= link_to user_path(post.user) do %>
                        <%= post.user.name %>
                      <% end %>
                    </div>
                    <div class="mr-2">
                      <% if user_signed_in? %>
                        <span id="favorite_btn_<%= post.id %>">
                          <%= render "user/favorites/favorite", post: post %>
                        </span>
                      <% else %>
                        <i class="fa-regular fa-heart"></i>
                        <%= post.favorites.count %> いいね&ensp;
                      <% end %>
                      <i class="fa-regular fa-comment"></i>
                      <%= post.comments.count %> コメント
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col m-3">
                    <%= post.body %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-12">
        <div class="col-5 pt-3 ml-md-5 mx-auto">
          <%= paginate @posts %>
        </div>
      </div>
    <% else %>
      <div class="col my-5">
        投稿はまだありません。
      </div>
    <% end %>
  </div>
</div>