投稿詳細ページ
<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @post.is_open || @post.user == current_user %>
      <%= link_to post_path(@post) do %>
      
        <!--画面左側の要素-->
        <div class="col-lg-4">
          <div class="flame ml-lg-5 text-center mb-4 mb-md-0">
            <div class="image m-3">
              <%= image_tag @post.image, size: "200x200" %>
            </div>
            <div class="row d-flex justify-content-end mr-1">
              <div classs="badge bg-primary text-wrap", style="width: 12em;">
                <%= link_to user_path(@post.user) do %>
                  <%= @post.user.name %>
                <% end %>
              </div>
              <div class="mr-3">
                <span id="favorite_btn_<%= @post.id %>">
                  <%= render "user/favorites/favorite", post: @post %>
                </span>
              </div>
            </div>
          </div>
          <% if @post.user == current_user %>
            <div class="row mx-auto justify-content-center">
              <div class="px-3 mt-2">
                <%= link_to '編集する', edit_post_path(@post), class:"btn btn-success"%>
              </div>
              <div class="px-3 mt-2">
                <%= link_to '削除する', @post, method: :delete, data: {confirm: "本当に、削除しますか？"}, class: "btn btn-danger"%>
              </div>
            </div>
          <% end %>
          <div class="row mt-3 justify-content-center">
            <%= form_with(model:[@post, @comment], url: filter_post_comments_path(@post), method: :post, id: "filter-form", class: "row justify-content-center" ) do |f| %>
            <div class="col-3 px-0">
              <%= f.radio_button :stance, :agree, id: 'stance_agree', checked: true %>
              <%= f.label :stance_agree, Comment.stances_i18n[:agree] %>
            </div>
            <div class="col-3 px-0">
              <%= f.radio_button :stance, :neutral, id: 'stance_neutral' %>
              <%= f.label :stance_neutral, Comment.stances_i18n[:neutral] %>
            </div>
            <div class="col-3 px-0">
              <%= f.radio_button :stance, :disagree, id: 'stance_disagree' %>
              <%= f.label :stance_disagree, Comment.stances_i18n[:disagree] %>
            </div>
            <div>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>
            <div class="col-3">
              <%= link_to "Clear", post_path(@post)%>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-sm btn-outline-warning">
              <i class="fa-solid fa-filter"></i>
              filter
            </button>
            <% end %>
          </div>
        </div>
        
        <!--画面右側の要素-->
        <div class="col-lg-6 mt-4">
          <div class="col mb-3">
            <%= @post.body %>
          </div>
      <% end %>
      
    <% else %>
        <div class="col-lg-6">
          <div class="row mt-5">
            <!--URLを入力して表示しようとした場合-->
            この投稿は非公開です。
          </div>
    <% end %>
        
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <% comment_stance = case comment.stance
                                when 'agree'
                                  "comment-agree"
                                when 'neutral'
                                  "comment-neutral"
                                when 'disagree'
                                  "comment-disagree"
                                end %>
          <div class="row mt-2">
            <div class="col-md-9 mb-2 offset-1">
              <div class="<%= comment_stance %>">
                <%= comment.body %>
              </div>
            </div>
            <% if comment.user == current_user %>
              <div class="col mb-2">
                <%= link_to '削除', post_comment_path(@post, comment), method: :delete, class:"btn btn-sm btn-danger" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="col my-5">
          まだコメントがありません。
        </div>
      <% end %>

          <div class="col mt-3">
            <% if user_signed_in? %>
              <%= form_with(model:[@post, @comment], method: :post) do |f| %>
                <div class="row justify-content-center">
                  <div class="comment_box">
                    <%= f.text_area :body, class: "form-control", rows: 3, style: "width: 20em;" %>
                  </div>
                </div>
                <div class="col">
                  <%= f.radio_button :stance, :agree, id: 'stance_agree' %>
                  <%= f.label :stance_agree, Comment.stances_i18n[:agree] %>
                  <%= f.radio_button :stance, :neutral, id: 'stance_neutral' %>
                  <%= f.label :stance_neutral, Comment.stances_i18n[:neutral] %>
                  <%= f.radio_button :stance, :disagree, id: 'stance_disagree' %>
                  <%= f.label :stance_disagree, Comment.stances_i18n[:disagree] %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                </div>
                <%= f.submit 'コメントする', class: "btn btn-sm btn-info" %>
              <% end %>

            <div class="row justify-content-center">
              <div class="col">
                <%= flash[:alert] %>
              </div>
            <% else %>
              <div class="col mt-4">
                <br/><br/><br/>
                コメントを残すには
                <%= link_to "ログイン", user_session_path %>
                してください。
              </div>
            <% end %>
            </div>
        </div>
  </div>
</div>