投稿詳細ページ
<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @post.is_open || @post.user == current_user %>
      <%= link_to post_path(@post) do %>
        <div class="col-md-6">
          <div class="flame ml-lg-5 text-center mb-4 mb-md-0">
            <div class="image m-3">
              <%= image_tag @post.image, size: "200x200" %>
            </div>
            <div class="row d-flex justify-content-end mr-1">
              <div classs="badge bg-primary text-wrap", style="width: 12em;">
                <%= link_to user_path(@post.user) do %>
                  <%= @post.user.name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        
        <!--右側の要素-->
        <div class="col-md-6 mt-4">
          <div class="row mb-3">
            <%= @post.body %>
          </div>
      <% end %>
    <% else %>
      <div class="col-md-6">
        <div class="row mt-5">
        <!--URLを入力して表示しようとした場合-->
        この投稿は非公開です。
        </div>
    <% end %>
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <% comment_stance = case comment.stance
                                when 'agree'
                                  "comment-agree"
                                when 'neutral'
                                  "comment-neutral"
                                when 'disagree'
                                  "comment-disagree"
                                end %>
            <div class="row mt-2">
              <div class="col">
                <div class="<%= comment_stance %>">
                <%= comment.body %>
                </div>
              </div>
              <% if @post.user == current_user %>
                <div class="col mb-2">
                  <%= link_to '削除', post_comment_path(@post, comment), method: :delete, class:"btn btn-sm btn-danger" %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          まだコメントがありません。
        <% end %>

        <div class="row">
          <%= form_with(model:[@post, @comment], method: :post) do |f| %>
            <%= render 'layouts/error_messages', resource: @comment %>
            <div class="row">
              <%= f.text_area :body %>
            </div>
            <div class="row">
              <%= f.radio_button :stance, :agree, id: 'stance_agree' %>
              <%= f.label :stance_agree, Comment.stances_i18n[:agree] %>
              <%= f.radio_button :stance, :neutral, id: 'stance_neutral' %>
              <%= f.label :stance_neutral, Comment.stances_i18n[:neutral] %>
              <%= f.radio_button :stance, :disagree, id: 'stance_disagree' %>
              <%= f.label :stance_disagree, Comment.stances_i18n[:disagree] %>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>
            <%= f.submit 'コメントする' %>
          <% end %>
        </div>
      </div>
    
    <% if @post.user == current_user %>
      <div class="row mt-3">
        <div class="col">
          <%= link_to '編集する', edit_post_path(@post), class:"btn btn-success"%>
        </div>
        <div class="col">
          <%= link_to '削除する', @post, method: :delete, data: {confirm: "本当に、削除しますか？"}, class: "btn btn-danger"%>
        </div>
      </div>
    <% end %>
  </div>
</div>