投稿詳細ページ
<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @post.is_open || @post.user == current_user %>
      <%= link_to post_path(@post) do %>
      
        <!--画面左側の要素-->
        <div class="col-lg-4">
          <div class="flame ml-lg-5 text-center mb-4 mb-md-0">
            <div class="image m-3">
              <%= image_tag @post.image.variant(resize_to_fill: [200, 200]).processed, size: "200x200" %>
            </div>
            <div class="row d-flex justify-content-end mr-1">
              <div classs="badge bg-primary text-wrap", style="width: 12em;">
                <%= link_to user_path(@post.user) do %>
                  <%= @post.user.name %>
                <% end %>
              </div>
              <div class="mr-3">
                <% if user_signed_in? %>
                  <span id="favorite_btn_<%= @post.id %>">
                    <%= render "user/favorites/favorite", post: @post %>
                  </span>
                <% else %>
                  <i class="fa-regular fa-heart"></i>
                  <%= @post.favorites.count %> いいね&ensp;
                <% end %>
              </div>
            </div>
          </div>
          <div class="tag-box mt-2">
            <% @post.tags.each do |tag| %>
              <span class="label"><strong><%= tag.name %></strong></span>
            <% end %>
          </div>
          <% if @post.user == current_user %>
            <div class="row mx-auto justify-content-center mt-3">
              <div class="px-3 mt-2">
                <%= link_to '編集する', edit_post_path(@post), class:"btn btn-success"%>
              </div>
              <div class="px-3 mt-2">
                <%= link_to '削除する', @post, method: :delete, data: {confirm: "本当に、削除しますか？"}, class: "btn btn-danger"%>
              </div>
            </div>
          <% end %>
          <div class="row mt-3 justify-content-center">
            <div class="col-12">
              <strong>コメントフィルター機能</strong>
            </div>
            <%= form_with(model:[@post, @comment], url: filter_post_comments_path(@post), method: :post, id: "filter-form", class: "row justify-content-center" ) do |f| %>
            <div class="col-4 px-1">
              <%= f.radio_button :stance, :agree, id: 'stance_agree', checked: true %>
              <%= f.label :stance_agree, Comment.stances_i18n[:agree] %>
            </div>
            <div class="col-4 px-1">
              <%= f.radio_button :stance, :neutral, id: 'stance_neutral' %>
              <%= f.label :stance_neutral, Comment.stances_i18n[:neutral] %>
            </div>
            <div class="col-4 px-1">
              <%= f.radio_button :stance, :disagree, id: 'stance_disagree' %>
              <%= f.label :stance_disagree, Comment.stances_i18n[:disagree] %>
            </div>
            <div>
              <%= f.hidden_field :post_id, value: @post.id %>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-sm btn-outline-warning">
              <i class="fa-solid fa-filter"></i>
              filter
            </button>
            <% end %>
          </div>
          <div class="row justify-content-center my-2">
            <div class="col-12">
              フィルター解除はこちら
              <%= link_to filter_post_comments_path(@post, comment: { stance: "clear" }), method: :post, class: "btn btn-dark mx-2 my-1" do %>
                <strong>Clear Filter</strong>
              <% end %>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <div class="col-12">
              <i class="fa-solid fa-robot pt-1"></i>&nbsp;<strong>AIフィルター機能</strong>
            </div>
            <%= link_to post_path(@post, filter: "positive"), class: "btn btn-sm btn-outline-success mx-2 my-1" do %>
              ポジティブコメント
            <% end %>
            <%= link_to post_path(@post, filter: "negative"), class: "btn btn-sm btn-outline-danger mx-2 my-1" do %>
              ネガティブコメント
            <% end %>
          </div>
          
          <% if @post.hues.present? %>
          <div class="row mt-3 justify-content-center">
            <div class="col-12">
              <i class="fa-solid fa-robot pt-1"></i>&nbsp;<strong>ドミナントカラー解析</strong><br/>
              <h6>※表示されない場合はリロードしてください。</h6>
            </div>
            <div class="col">
              <!--each_with_index method by Ruby。indexは配列内の要素位置を示す0~の番号。-->
              <% @post.hues.each_with_index do |color, index| %>
                <div class="RGB">RGB: (<%= color.red %>, <%= color.green %>, <%= color.blue %>)</div>
                <!--<div>Score: <%#= color.score %></div>-->
                <div class="colorBox" 
                     data-red="<%= color.red %>" 
                     data-green="<%= color.green %>" 
                     data-blue="<%= color.blue %>"></div>
              <% end %>
              <script src="/js/script.js"></script>
            </div>
          </div>
          <% end %>
        </div>
        
        <!--画面右側の要素-->
        <div class="col-lg-8 mt-4">
          <div class="col mb-3">
            本文：<%= @post.body %>
          </div>
      <% end %>
      
    <% else %>
        <div class="col-lg-6">
          <div class="row mt-5">
            <!--URLを入力して表示しようとした場合-->
            この投稿は非公開です。
          </div>
    <% end %>
        
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <% comment_stance = case comment.stance
                                when 'agree'
                                  "comment-agree"
                                when 'neutral'
                                  "comment-neutral"
                                when 'disagree'
                                  "comment-disagree"
                                end %>
          <div class="row mt-2">
            <div class="col-md-6 mb-2 offset-1">
              <div class="<%= comment_stance %>">
                <%= comment.body %>
              </div>
              <span class="sentiment-score">コメントの感情分析スコア<%= comment.score %></span>
            </div>
            <div class="col-3 mx-0 px-0">
              by 
              <%= link_to user_path(comment.user) do %>
                <%= comment.user.name %>
              <% end %>
            </div>
            <% if comment.user == current_user %>
              <div class="col-2 mb-2 mx-0 px-0">
                <%= link_to '削除', post_comment_path(@post, comment), method: :delete, class:"btn btn-sm btn-danger" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="col my-5">
          まだコメントがありません。
        </div>
      <% end %>
      
      <p class="error mt-3"><%= flash[:error] %></p>

          <div class="col mt-3">
            <% if user_signed_in? %>
              <%= form_with(model:[@post, @comment], method: :post) do |f| %>
                <div class="row justify-content-center">
                  <div class="comment_box">
                    <%= f.text_area :body, class: "form-control", rows: 3, style: "width: 20em;" %>
                  </div>
                </div>
                <div class="col">
                  <%= f.radio_button :stance, :agree, id: 'stance_agree' %>
                  <%= f.label :stance_agree, Comment.stances_i18n[:agree] %>
                  <%= f.radio_button :stance, :neutral, id: 'stance_neutral' %>
                  <%= f.label :stance_neutral, Comment.stances_i18n[:neutral] %>
                  <%= f.radio_button :stance, :disagree, id: 'stance_disagree' %>
                  <%= f.label :stance_disagree, Comment.stances_i18n[:disagree] %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                </div>
                <%= f.submit 'コメントする', class: "btn btn-sm btn-info" %>
              <% end %>
            <% else %>
              <div class="col mt-4">
                <br/><br/><br/>
                いいね、コメントを残すには
                <%= link_to "ログイン", user_session_path %>
                してください。
              </div>
            <% end %>
            </div>
        </div>
  </div>
</div>