ユーザー詳細ページ
<div class="container px-0">
  <div class="row d-flex justify-content-start mt-3 ">
    <div class="col-4">
      ユーザー名：<strong><%= @user.name %></strong>
    </div>
    <div id="user-status-<%= @user.id %>", class="col-3">
      <% unless current_admin == Admin.find(2) %>
        <%= link_to user_ban_admin_user_path(@user), method: :patch, remote: true, class: 'user-ban-link', data: { user_id: @user.id } do %>
          <% if @user.is_active %>
            <span class="text-success">有効</span>
          <% else %>
            <span class="text-secondary">退会済み</span>
          <% end %>
        <% end %>
      <% else %>
        <% if @user.is_active %>
          <span class="text-success">有効</span>
        <% else %>
          <span class="text-secondary">退会済み</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @posts.any? %>
    <table class="table mt-3">
      <thead class="table table-warning">
        <tr>
          <th>画像</th>
          <th>本文</th>
          <th>コメント数</th>
          <th>いいね数</th>
          <th class="pb-1">
            公開ステータス
            <button type="button" class="btn btn-link pb-2 px-0" data-toggle='modal' data-target="#poststatusInfomation">
              <i class="fa-solid fa-circle-info"></i>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to admin_post_path(post) do %>
                <%= image_tag post.get_image, width: 50, height: 50 %>
              <% end %>
              </td>
            <td class="td_vertical_align_middle">
              <%= link_to admin_post_path(post) do %>
                <%= post.body %>
              <% end %>
            </td>
            <td class="td_vertical_align_middle">
              <%= post.comments.count %>
            </td>
            <td class="td_vertical_align_middle">
              <%= post.favorites.count %>
            </td>
            <td id="post-status-<%= post.id %>", class="td_vertical_align_middle">
              <% unless is_guest_admin? %>
                <%= link_to toggle_status_admin_post_path(post), method: :patch, remote: true, class: 'toggle-status-link', data: { post_id: post.id } do %>
                  <% if post.is_open %>
                    <span class="text-success">公開</span>
                  <% else %>
                    <span class="text-secondary">非公開</span>
                  <% end %>
                <% end %>
              <% else %>
                <% if post.is_open %>
                  <span class="text-success">公開</span>
                <% else %>
                  <span class="text-secondary">非公開</span>
                <% end %>
              <% end %>
            </td>
            <td class="td_vertical_align_middle">
              <% unless is_guest_admin? %>
                <%= link_to admin_post_path(post), method: :delete, data: {confirm: "完全に削除しますか？"}, class: "btn btn-sm btn-danger" do %>
                  削除
                <% end %>
              <% else %>
                <div class="btn btn-sm btn-danger">削除</div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    投稿はありません。
  <% end %>
</div>

<div class="modal" id="poststatusInfomation" tabindex="-1" role="dialog" aria-labelledby="poststatusInfomationTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pl-5">
        <h5 class="modal-title" id="poststatusInfomation">公開ステータスについて</h5>
      </div>
      <div class="modal-body">
        公開/非公開を変更できます。<br/>
        文字をクリックしてください。<br/>
      </div>
      <div class="mordal-footer mb-3">
        <%= link_to 'OK', admin_user_path(@user), class:"btn btn-success px-5" %>
      </div>
    </div>
  </div>
</div>