<div class="row header-content">
  <!--左端：Logoの表示について-->
  <% if current_page?(root_path) %>
    <div class="col-1 mx-3">
      <div class="row"></div>
      <div class="row">
        <% if admin_signed_in? %>
          <%= image_tag("admininfo.png", src: "/assets/images/admininfo.png", width: 100, hight: 100 ) %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col-1 mx-3">
      <div class="row">
        <%= link_to root_path do %>
          <%= image_tag("logoA.png", src: "/assets/images/logoA.png", width: 100, hight: 100 ) %>
        <% end %>
      </div>
      <div class="row">
        <% if admin_signed_in? %>
          <%= image_tag("admininfo.png", src: "/assets/images/admininfo.png", width: 100, hight: 100 ) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!--中央：リンクの表示について-->
  <ul class="col-sm-7 col-xs-10 d-flex list-unstyled justify-content-center my-auto">
    <% if admin_signed_in? %>
      <div class="col d-flex align-items-center justify-content-center">
        <li class='mx-3'><%= link_to admin_posts_path, class: "no-underline" do %><strong>Post List</strong><% end %></li>
        <li class='mx-3'><%= link_to admin_users_path, class: "no-underline" do %><strong>User List</strong><% end %></li>
        <li class='mx-3'><%= link_to admin_comments_path, class: "no-underline" do %><strong>Comment List</strong><% end %></li>
        <li class='mx-3'><%= link_to destroy_admin_session_path, method: :delete, class: "no-underline" do %><strong>Log out</strong><% end %></li>
      </div>
    <% elsif user_signed_in? %>
      <div class="col d-flex align-items-center justify-content-center">
        <li class='mx-3'><%= link_to about_path, class: "no-underline" do %><strong>About</strong><% end %></li>
        <li class='mx-3'><%= link_to new_post_path, class: "no-underline" do %><strong>Post</strong>&nbsp;<i class="fa-solid fa-pen-to-square"></i><% end %></li>
        <li class='mx-3'><%= link_to user_path(current_user), class: "no-underline" do %><strong>My Page</strong><% end %></li>
        <li class='mx-3'><%= link_to destroy_user_session_path, method: :delete, class: "no-underline" do %><strong>Log out</strong><% end %></li>
      </div>
    <% else %>
      <div class="col d-flex align-items-center justify-content-center">
        <li class='mx-3'><%= link_to about_path, class: "no-underline" do %><strong>About</strong><% end %></li>
        <li class='mx-3'><%= link_to new_user_registration_path, class: "no-underline" do %><strong>Sign up</strong><% end %></li>
        <li class='mx-3'><%= link_to new_user_session_path, class: "no-underline" do %><strong>Log in</strong><% end %></li>
      </div>
    <% end %>
  </ul>
  <!--右端：カラーパレットの表示について-->
  <% unless current_page?(root_path) %>
    <div class="col-md-2 col-sm-12">
      <div class="row justify-content-center">
        <%= render 'layouts/color_palette' %>
      </div>
    </div>
  <% else %>
    <% if user_signed_in?%>
      <div class="col-md-2 col-sm-12 mx-5"></div>
    <% else %>
      <div class="col-md-2 col-sm-12 mx-5 my-auto">
        for admin
        <button type="button" class="btn btn-link pb-2 px-0" data-toggle='modal' data-target="#foradminInfomation">
          <i class="fa-solid fa-circle-info"></i>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
<!--要件：ログイン時のみheader下部に検索フォームを表示-->
<% if user_signed_in? && !admin_signed_in? %>
  <div class="row mt-2 ml-4">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :category, options_for_select([['Post'],['User']]) %>
      <button type="submit" class="btn btn-sm btn-warning my-auto">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
<% elsif admin_signed_in? %>
  <div class="row mt-2 ml-4">
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :category, options_for_select([['Post'],['User'],['Comment']]) %>
      <button type="submit" class="btn btn-sm btn-warning my-auto">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
<% end %>
  <span class="notice"><%= notice %></span>
  <span><strong class="alert"><%= alert %></strong></span>

<div class="modal" id="foradminInfomation" tabindex="-1" role="dialog" aria-labelledby="foradminInfomationTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header pl-5">
        <h5 class="modal-title" id="foradminInfomation">adminログインについて</h5>
      </div>
      <div class="modal-body mb-3 px-4">
        <h4><strong>機能要件変更</strong></h4>
        セキュリティ面を配慮し、以下のように変更されました。<br/>
        ・ユーザー側の画面とは別に、管理者自身のログイン画面および管理者機能がある<br/>
        ・予めデータベースに登録したID/パスワードをもとにログインが可能である<br/></br>
        admin画面も見ていただける方は<br/>
        <strong>/admins/sign_in</strong> よりゲストアドミンでログインしてください。<br/>
      </div>
    </div>
  </div>
</div>