<!DOCTYPE html>
<html>
  <head>
    <title>OwnPalette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/18d078742a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row header-content">
        <!--左端：Logoの表示について-->
        <% if current_page?(root_path) %>
          <div class="col-1 mx-3">
            <div></div>
          </div>
        <% else %>
          <div class="col-1 mx-3">
            <div class="row">
              <%= link_to root_path do %>
                <%= image_tag("logo1.png", src: "/assets/images/logo1.png", width: 100, hight: 100 ) %>
              <% end %>
            </div>
            <div class="row">
              <% if admin_signed_in? %>
                管理者としてログイン中
              <% end %>
            </div>
          </div>
        <% end %>
        <!--中央：リンクの表示について-->
        <ul class="col-sm-7 col-xs-10 d-flex list-unstyled justify-content-center">
          <% if admin_signed_in? %>
            <div class="col d-flex align-items-center justify-content-center">
              <li class='mx-3'><%= link_to 'Post List', admin_posts_path %></li>
              <li class='mx-3'><%= link_to 'User List', admin_users_path %></li>
              <li class='mx-3'><%= link_to 'Comment List', admin_comments_path %></li>
              <li class='mx-3'><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
            </div>
          <% elsif user_signed_in? %>
            <div class="col d-flex align-items-center justify-content-center">
              <li class='mx-3'><%= link_to 'About', about_path %></li>
              <li class='mx-3'><%= link_to 'Post', new_post_path %></li>
              <li class='mx-3'><%= link_to 'My Page', user_path(current_user) %></li>
              <li class='mx-3'><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </div>
          <% else %>
            <div class="col d-flex align-items-center justify-content-center">
              <li class='mx-3'><%= link_to 'About', about_path %></li>
              <li class='mx-3'><%= link_to 'Sign up', new_user_registration_path %></li>
              <li class='mx-3'><%= link_to 'Log in', new_user_session_path %></li>
            </div>
          <% end %>
        </ul>
        <!--右端：カラーパレットの表示について-->
        <% unless current_page?(root_path) %>
          <div class="col-md-2 col-sm-12">
            <div class="row justify-content-center">
              <%= render 'layouts/color_palette' %>
            </div>
          </div>
        <% else %>
          <div class="col-md-2 col-sm-12 mx-5">
            <%= link_to new_admin_session_path do %>
              for admin
            <% end %>
          </div>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div>
        <p class="notice"><%= notice %></p>
        <span>Copyright © Infratop Inc. All Rights Reserved.</span>
      </div>
    </footer>
  </body>
</html>
